:host {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #23272a;
  height: 100%;
  overflow-y: scroll;

  .header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b2b2b2;
    padding: 0;
    height: 100px;

    h1 {
      font-size: 38px;
      line-height: 72px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .search-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;

      .label {
        font-size: 13px;
      }

      textarea {
        border-radius: 5px;
        border: 1px solid #e4e1e1;
        background-color: #23272a;
        color: white;
        width: 100%;
        resize: none;
      }

      .controls {
        display: flex;
        gap: 12px;

        button {
          font-family: 'Poppins';
          align-items: center;
          justify-content: center;
          height: 32px;
          padding: 0 16px;
          font-size: 12px;
          font-weight: 500;
          color: white;
          line-height: 0;
          white-space: nowrap;
          background-color: #5b6267;
          border: 1px solid #5b6267;
          border-radius: 5px;
          cursor: pointer;
          outline: 0;
          transition: 0.3s all ease;
          min-width: 76px;
        }
      }
    }

    table {
      background-color: transparent;
      width: 90%;

      th {
        background-color: #383e43;
        color: white;
        font-size: medium;
      }

      .mat-cell {
        padding: 8px 0px;
        color: white;

        .item-icon {
          max-width: 128px;
          max-height: 200px;
        }

        .table-item-link {
          text-decoration: none;
          color: rgb(114, 114, 250);
        }

        .quest {
          display: flex;
        }

        .barters,
        .crafts {
          display: flex;

          .separator {
            display: flex;
            align-self: center;
            margin-bottom: 0px;
          }

          .barter,
          .craft {
            display: flex;
          }
        }
      }

      .mat-row:nth-child(odd) {
        background: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
