<div class="container">
  <div class="header">
    <h1>Tarki Tools</h1>
    <div class="separator"></div>
  </div>

  <div class="wrapper">
    <div class="search-div">
      <div class="input">
        <p class="label">Item Names (separated by &lt;ENTER&gt;)</p>
        <textarea class="form-control" [(ngModel)]="newItems" name="itemNames" #itemNames="ngModel"></textarea>
      </div>

      <button mat-button (click)="searchItems()">Search</button>
    </div>

    <table mat-table [dataSource]="tableItems" class="mat-elevation-z8">
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let item"> <img class="item-icon" [src]="item.imageLink" /> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let item"> <a class="table-item-link" [href]="item.wikiLink" rel="noreferrer" target="_blank">{{item.itemName}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let item"> {{item.prices.trader.price | number}} @ {{item.prices.trader.name}} <br> {{item.prices.market.price | number}} @ FleaMarket</td>
      </ng-container>

      <ng-container matColumnDef="quest">
        <th mat-header-cell *matHeaderCellDef> Used In Quest </th>
        <td mat-cell *matCellDef="let item">
          <div class="quest" *ngFor="let quest of item.quests">
            <p>{{quest.itemQty}}x for</p>
            <a class="table-item-link" [href]="quest.wikiLink" rel="noreferrer" target="_blank">&nbsp;{{quest.title}}</a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="hideout">
        <th mat-header-cell *matHeaderCellDef> Used In Hideout </th>
        <td mat-cell *matCellDef="let item"> No </td>
      </ng-container>

      <ng-container matColumnDef="barter_crafting">
        <th mat-header-cell *matHeaderCellDef> Used In Barter / Crafting </th>
        <td mat-cell *matCellDef="let item"> No </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let row; columns: headers;"></tr>

    </table>
  </div>
</div>