:host {
  width: 100%;
  height: 100%;
  display: block;
}

.container {
  background: #23272a;
  height: 100%;

  .header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #b2b2b2;
    padding: 0;
    height: 100px;

    h1 {
      font-size: 38px;
      line-height: 72px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .label {
        font-size: 13px;
      }

      textarea {
        width: 250px;
        border-radius: 5px;
        border: 1px solid #e4e1e1;
        background-color: #23272a;
        color: white;
      }
    }

    table {
      background-color: transparent;

      th {
        background-color: #383e43;
        color: white;
      }
      .mat-cell {
        color: white;
      }
    }
  }
}
